@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f4f4f4; /* Um fundo cinza claro como sugestão */
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}


